<%- include('partials/header') %>
<!--=============== MAIN ===============-->
<main class="main">
    <!--=============== ABOUT ===============-->
    <section class="about section container">
        <h2 class="breadcrumb__title">Meet the Team</h2>
        <h3 class="breadcrumb__subtitle">Home > <span>About us</span></h3>

        <!-- First Team Member -->
        <div class="about__container grid">
            <img src="/E-commercePublic/img/Adnan.jpg" alt="Adnan Yusuf - Leader and Visionary" class="about__img">
            <div class="about__data">
                <h2 class="section__title about__title">
                    Adnan Yusuf <br> Real Nigga, Lisan al Gaib, Muad'Dib
                </h2>
                <p class="about__description">
                    I am Paul Muad'Dib Atreides. Duke of Arrakis. The Hand of God be my witness. I am the Voice from the Outer World! I will lead you... to PARADISE!
                </p>
            </div>
        </div>

        <!-- Second Team Member -->
        <div class="about__container grid">
            <img src="/E-commercePublic/img/Aaron.jpg" alt="Aaron Prescott - Public Relations Officer and Producer" class="about__img">
            <div class="about__data">
                <h2 class="section__title about__title">
                    Aaron Prescott <br> Public Relations Officer, Producer, APNI Rep
                </h2>
                <p class="about__description">
                    Planner for community & charity events, film producer for VVS, APNI representative.
                </p>
            </div>
        </div>

        <!-- Third Team Member -->
        <div class="about__container grid">
            <img src="/E-commercePublic/img/Kelly.jpg" alt="Kelly Capalot - CEO, Film Director, and Scriptwriter" class="about__img">
            <div class="about__data">
                <h2 class="section__title about__title">
                    Kelly Capalot <br> CEO, Film Director, Scriptwriter
                </h2>
                <p class="about__description">
                    Always in the doghouse, yet pioneering new directions for film and corporate strategy.
                </p>
            </div>
        </div>

    </section>
</main>
<%- include('partials/footer') %>
