<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aim Trainer Leaderboard</title>

    <link rel="stylesheet" type="text/css" href="/Aim-trainerPublic/css/styles.css">
</head>

<a href="/" style="text-decoration: none; color: inherit;">
    
    <div class="backBtn">
        <span class="line tLine"></span>
        <span class="line mLine"></span>
        <span class="label">Back to <br> Portfolio</span>
        <span class="line bLine"></span>
    </div>
</a>
<h1 class="leaderboard-title">Leaderboard</h1>
    <div id="leaderboard"></div>

    <script src="/Aim-trainerPublic/js/leaderboard.js"></script>
</body>
</html>
