<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/SmoothiePublic/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Real Ninjas For Real Ninjas</h3>
    <a href="/SmoothieRecipeFinder/smoothies" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>